.quiz-card {
    background-color: var(--color-basic);
    border-radius: 16px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.05);
    padding: 24px;
}

.quiz-card__header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding-bottom: 16px;
}

.quiz-card__header-logo-category {
    background-color: var(--color-logo-category-bg);
    border-radius: 8px;
    width: 48px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.quiz-card__header-logo-category svg {
    fill: var(--color-brand-dark);
    width: 16px;
    height: 16px;
}

.quiz-card__header-live-now {
    background-color: var(--color-live-bg);
    padding: 4px 12px;
    border-radius: 20px;
    color: var(--color-brand-dark);
    font-size: 12px;
    line-height: 16px;
    font-weight: 600;
}

.quiz-card__content {
    padding-bottom: 24px;
    border-bottom: 1px solid var(--color-border-light);
    height: 110px;
    overflow: hidden;
}

.quiz-card__content-title{
    font-size: 24px;
    line-height: 32px;
    font-weight: 600;
    color: var(--text-color-primary);
}

.quiz-card__content-description{
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: var(--text-color-secondary);
}

.quiz-card__footer {
    padding-top: 16px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.quiz-card__footer-users {
    color: var(--text-color-secondary);
    font-size: 12px;
    line-height: 16px;
    display: flex;
    align-items: center;
    gap: 5px;
}

.quiz-card__footer-users svg{
    height: 10px;
    width: 10px;
}

.quiz-card__footer-join {
    background-color: var(--color-brand-dark);
    border-radius: 8px;
    color: var(--color-basic);
    padding: 8px 24px;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
}
.quiz-card__footer-join:hover {
    background-color: #2a1fa0;
    box-shadow: 0 4px 12px rgba(53, 37, 205, 0.3);
}

.quiz-card__footer-join:active {
    transform: scale(0.96);
    background-color: #1f1780;
}