.quiz-card-org {
    box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.05);
    border-radius: 16px;
    display: grid;
    grid-template-rows: 1fr 1fr;
    position: relative;
}

.quiz-card-org__status {
    min-width: 74px;
    height: 24px;
    position: absolute;
    left: 8px;
    top: 8px;
    background-color: var(--color-basic);
    opacity: 0.9;
    padding: 4px 12px;
    border-radius: 12px;
    font-size: 12px;
    line-height: 16px;
    color: var(--text-color-primary);
}

.quiz-card-org__info {
    padding: 20px;
}

.quiz-card-org__info-title {
    display: flex;
    justify-content: space-between;
    padding-bottom: 8px;
    font-size: 18px;
    line-height: 22.5px;
}

.quiz-card-org__info-description {
    padding-top: 16px;
    display: flex;
    gap: 16px;
}

.quiz-card-org__info-description-item {
    display: flex;
    gap: 4px;
    font-size: 12px;
    line-height: 16px;
    color: var(--text-color-secondary);
}